<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARK TANK SEARCH BY F22 LABS</title>
</head>
<body>
<form method="POST">
    <select name="Seasons" >
    <option value="0">All Seasons</option>
    <option value="1">Season 1</option>
    <option value="2">Season 2</option>
    <option value="3">Season 3</option>
    <option value="4">Season 4</option>
    <option value="5">Season 5</option>
    <option value="6">Season 6</option>
    <option value="7">Season 7</option>
  </select>
  EPISODE<input type="number" name="episode" min="1" max="50" val=0><br>
  INVESTMENT AMOUNT<input type="range" min="1" max="5000000" value="5000000" class="slider" name="amount"><br>
  ENTERPRENER GENDER<br><input type="radio" name="gender" value="male"> Male<br>
<input type="radio" name="gender" value="female"> Female<br>
<input type="radio" name="gender" value="both" checked="checked"> Both<br>
INVESTORS
<select name="investors">
    <option value="All">All Investors</option>
    <option value="Corcoran">Corcoran</option>
    <option value="Cuban">Cuban</option>
    <option value="Greiner">Greiner</option>
    <option value="Herjavec">Herjavec</option>
    <option value="John">John</option>
    <option value="O'Leary">O'Leary</option>
    <option value="Harrington">Harrington</option>
    <option value="Guest">Guest</option>
  </select>

  <br>
    <input type="submit">
</form>
</body>
</html>